# ==============================================================================
# This is an example environment configuration file.  You can create your own
# .env implementation or pass them via the CLI.
#
# You could also decide to supply some of your environment variables from a .env
# file, and others via the CLI. This allows you to easily store "safe"
# environment variables within this file, and then manage your more sensitive
# environment variables seperately.
# ==============================================================================

#PROD_MONGODB_USER = DBuser
#PROD_MONGODB_PASS = DBpass
#PROD_MONGODB_HOST = localhost
#PROD_MONGODB_PORT = 27000
