# Environment Configuration
.env

# Build output folders
build/

# Logs
logs
*.log

# Runtime data
db/
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage

# node-waf configuration
.lock-wscript

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Speed up installs w/ this file, Unfortunately, causes too many issues.
# https://github.com/npm/npm/issues/16991
package-lock.json

# Debug log from npm
npm-debug.log

# IntelliJ IDE ignore
.idea

# Visual Studio Code
.history

# Happypack
.happypack

# OSX Files
.DS_Store

# Notes
.reference